@font-face {
    font-family: Helvetica;
    src: url("./fonts/HelveticaLight.eot");
    src: url("./fonts/HelveticaLight.ttf");
    src: url("./fonts/HelveticaLight.woff");
}
body,ul {
    font-family: Helvetica;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow-x: hidden;
}
body {
    z-index: 0;
}
header {
    background: url("./img/bg.png");
    height: 650px;
    background-size: cover;
    position: relative;
    z-index: 1
;
}
.menu {
    position: static;
    width: 100%;
    height: 70px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background: url("./img/bg.png");
    top: -70px;
    z-index: 10;
}

.menu div img {
    width: 150px;
    height: 60px;
    margin-right: 35px;
}

.menu ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
}

.menu ul li{
    margin-right: 10px;

}

.menu ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    cursor: pointer;
    vertical-align: sub;
}

iframe {
    margin-right: 20px;
}

.lines {
    padding-top: 300px;
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    top: -28%;
    z-index: 1;
}

.jspadding{
    padding-top: 370px;
}

.rigthLine {
    width: 33%;
    height: 105px;
    left: 1000px;
    background-color: #fff;
}

.rigthBlock {
    width: 100%;
}

.rigthBlockInner {
    width: 70%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.rigthBlockInner > div  {
    position: relative;
    height: 240px;
    margin-left: 20px;
}
.rightAnimateLine {
    position: absolute;
    width: 2000px;
    height: 100px;
    left: 1000px;
    top: 70px;
    background-color: white;
}

.active {
    right: calc(100% + 45px)!important;
    transition: 2s;
}

.leftAnimateLine {
    position: absolute;
    width: 2000px;
    background-color: rgba(255,255,255, 0.15);
    height: 100px;
    right: 2000px;
    z-index: -1;
    bottom: 70px;
}

.rigthBlockInner p {
    margin: 0;
    height: 100%;
    border: 7px solid white;
    border-left: none;
    position: relative;
    box-sizing: border-box;
    color: white;
    font-weight: bold;
}

.rigthBlockInner p::before {
    content: '';
    position: absolute;
    top: -1px;
    color: white;
    background-color: white;
    height: 50px;
    width: 7px;
}

.rigthBlockInner p::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    color: white;
    background-color: white;
    height: 50px;
    width: 7px;
}

.rigthBlockInner div p span {
    transform: translateY(50%);
    position: relative;
    left: -35px;
    top: 67px;
    font-size: 25px;
}

.productContainer {
    width: 100%;
    height: 900px;
    padding-top: 50px;
    margin-top: 100px;
    box-sizing: border-box;
    position: relative;
    z-index: 0;
    background: linear-gradient(#26cfcd,#3341a6);
}

.product {
    padding-bottom: 50px;
}

.product::after {
    content: '';
    clear: both;
    display: table;
}
.productImage {
    float: left;
    width: 50%;
    padding-right: 25px;
    box-sizing: border-box;
    position: relative;
    z-index: 2;
}

.duplicateImage {
    position: absolute;
    top: -40px;
    left: 2500px;
    width:65%;
    height: 95%;
    z-index: 1;
}

.productDescription {
    float: right;
    width: 50%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding-left: 25px;
    box-sizing: border-box;
    color: white;
}

.description {
    opacity: 0;
    width: 55%;
}

.description p {
    line-height: 150%;
    margin: 25px 0;
}

.more {
    width: 170px;
    height: 45px;
    border: 1px solid white;
    background: transparent;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 21px;
    border-radius: 25px;
    cursor: pointer;
}
.more:hover {
    background-color: white;
    color: steelblue;
}

.productDescription .callOrBuy img{
    cursor: pointer;
    width: 80px;
    height: 80px;
}

.mainImage {
    position: relative;
    padding-right: 10px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    z-index: 5;
    left: -2500px;
}

.brands {
    display: inline-block;
}

.brands ul {
    list-style: none;
    padding: 0;
}
.brands ul::after {
    content: '';
    clear: both;
    display: table;
}

.brands ul li {
    width: 73px;
    height: 73px;
    margin-left:10px;
    float: left;
    overflow: hidden;
    position: relative;
}
.brands ul li img {
    position: absolute;
}

.brands ul li:nth-child(1) img {
    top: -73px;
}
.brands ul li:nth-child(2){
    width: 130px;
}
.brands ul li:nth-child(2) img{
    height: 147px;
    width: 130px;
}

.brands ul li:nth-child(2){
    width: 130px;
}
.brands ul li:nth-child(2) img{
    height: 147px;
    width: 130px;
}

.brands ul li:nth-child(3) img{
    height: 163px;
    width: 262px;
    top: -82px;
    left: -80px;
}

.brands ul li:nth-child(4) img{
    top: -73px;
}
.brands ul li:nth-child(5) img{
    height: 163px;
    width: 262px;
    top: -82px;
    left: -80px;
}



.whiteRectangleWrapper {
    margin-left: 2500px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.whiteRectangle {
    position: relative;
    width: 80%;
    height: 100px;
    background-color: white;
    overflow: hidden;
    z-index: 999;
}

.innerCEILEO {
    position: absolute;
    font-size:180px;
    font-weight: bold;
    color: #3341a6;
    letter-spacing: 15px;
    right: calc(0% - 265px);
    top: -78px;
}

.whiteRectangleWrapper div:last-child {
    width: 20%;
    position: relative;
    height: 180px;
    background-color: transparent;
}

.outherCEILEO {
    position: absolute;
    top: -78px;
    left: calc(0% - 435px);
    font-weight: bold;
    color: white;
    font-size:180px;
    letter-spacing: 15px;
}

.world {
    position: relative;
    z-index: 0;
    top: 100px;
}

.map {
    position: absolute;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 500px;
}

.mapinner {
    position: relative;
    z-index: 2;
    top: 0;
    width: 100%;
    height: 500px;
}

.map img,
.mapinner img {
    width: 100%;
    height: 100%;
}

.wrapper {
    position: absolute;
    width: 100%;
    height: 500px;
    top: 0;
}
.southAmerica, .algeria,
.kongo,.china {
    width: 100%;
    position: relative;
}

.representetionContainer,
.representetionContainer2,
.representetionContainer3,
.representetionContainer4,
.representetionContainer5,
.representetionContainer6,
.representetionContainer7,
.representetionContainer8,
.representetionContainer9,
.representetionContainer10,
.representetionContainer10a,
.representetionContainer11,
.representetionContainer12,
.representetionContainer13,
.representetionContainer14
{
    position: relative;
}
.representetionContainer {
    left: 18%;
    top: 40px;
}

.representetionContainer2 {
    top: 40px;
    left: 22%;
}

.representetionContainer3 {
    top: 30px;
    left: 19%;
}

.representetionContainer4 {
    top: -130px;
    left: 37%;
}

.representetionContainer5 {
    top: -165px;
    left: 39%;
}

.representetionContainer6 {
    top: -165px;
    left: 39%;
}

.representetionContainer7 {
    top: -165px;
    left: 39%;
}

.representetionContainer8 {
    top: -100px;
    left: 45%;
}

.representetionContainer9 {
    top: -90px;
    left: 45.5%;
}

.representetionContainer10 {
    top: -120px;
    left: 45%;
}

.representetionContainer10a {
    top: -142px;
    left: 44%;
}

.representetionContainer11 {
    top: -165px;
    left: 46%;
}

.representetionContainer12 {
    top: -350px;
    left: 63%;
}

.representetionContainer13 {
    top: -350px;
    left: 70%;
}

.representetionContainer14 {
    top: -410px;
    left: 68%;
}

.item img {
    margin-left: 20px;
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.container {
    display: none;
    width: 350px;
    height: 180px;
    position: absolute;
    z-index: 5;
    margin: 20px;
    padding: 15px;
    letter-spacing: 2px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0px 5px 0px gray;
}

.header {
    margin-top: 0;
}

.list li {
    margin-bottom: 10px;
}

.list li img {
    width: 15px;
    padding-right: 10px;
    vertical-align: middle;
}

.list a {
    vertical-align: middle;
    text-decoration: none;
    color: #2a2de7;
}

.closeContainer {
    width: 20px;
    height: 20px;
    position: absolute;
    color: white;
    text-align: center;
    left: calc(100% - 40px);
    top: 20px;
    cursor: pointer;
    border-radius: 50%;
    background-color: darkgray;
}


.closeContainer::after {
    content: '×';
    position: absolute;
    top: 0;
    left: 5px;
    font-size: 20px;
    color: white;
}

.item {
    display: none;
    width: 20px;
    position: relative;
    top: 245px;
    left: -3px;
    padding-left: 20px;
    z-index: 3;
}

.fa{
    padding-right:10px;
    color: #034ea2;
}

.areas {
    opacity: 0;
}

.triangle {
    position: absolute;
    top: 100%;
    z-index: 2;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #fff;
}

.email {
    color: #2a2de7;
}

.china .item img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

@media only screen and (min-width: 1500px) {
    .productContainer {
        height: 1100px;
    }
    .representetionContainer4 {
        left: 40%;
    }
    .representetionContainer5 {
        left: 40%;
    }
    .representetionContainer6 {
        left: 39%;
    }
    .representetionContainer7 {
        left: 40%;
    }
    .representetionContainer8 {
        left: 46%;
    }

    .representetionContainer9 {
        left: 46.5%;
    }

    .representetionContainer10 {
        left: 46%;
    }

    .representetionContainer10a {
        left: 45%;
    }

    .representetionContainer11 {
        left: 47%;
    }
    }


@media only screen and (max-width: 1500px) {
body {
    }
}

@media only screen and (max-width: 1250px) {
    .innerCEILEO{
        font-size: 135px;
        right: calc(0% - 210px);
        top: -58px;
    }

    .outherCEILEO {
        font-size: 135px;
        left: calc(0% - 338px);
        top: -58px;
    }
}

    @media only screen and (min-width: 1150px) {

    .representetionContainer8 {
        left: 44%;
    }

    .representetionContainer9 {
        left: 44.5%;
    }

    .representetionContainer10 {
        left: 44%;
    }

    .representetionContainer10a {
        left: 43%;
    }

    .representetionContainer11 {
        left: 45%;
    }

}


@media only screen and (max-width: 1040px) {
    .whiteRectangleWrapper {
        margin-top: 70px;
    }
    .productContainer {
        height: 1000px;
    }
    .whiteRectangle {
        width: 65%;
    }

    .whiteRectangleWrapper div:last-child {
        width: 35%;
    }
}

@media only screen and (max-width: 900px) {

    .productContainer {
        height: 700px;
    }
    .rigthBlockInner{
        width: 100%;
    }
    .description {
        width: 80%;
    }

    .description p{
        line-height: 130%;
    }

    .representetionContainer7 {
        left: 36%;
    }
    .representetionContainer8 {
        left: 43%;
    }

    .representetionContainer9 {
        left: 43.5%;
    }

    .representetionContainer10 {
        left: 43%;
    }

    .representetionContainer10a {
        left: 42%;
    }

    .representetionContainer11 {
        left: 44%;
    }
    .representetionContainer4 {
        left: 35%;
    }

    .representetionContainer5 {
        left: 36.8%;
    }

    .representetionContainer6 {
        left: 37%;
    }

}
@media only screen and (max-width: 800px) {
    .menu div img{
        margin-right: 0;
    }
    .menu ul li {
        margin-right: 5px;
        font-size: 16px;
    }

    .menu ul {
        display: none;
    }

    .representetionContainer {
        left: 16%;
    }

    .representetionContainer2 {
        left: 20%;
    }
    .representetionContainer3 {
        left: 17%;
    }

    .representetionContainer8 {
        left: 41.5%;
    }

    .representetionContainer9 {
        left: 42%;
    }

    .representetionContainer10 {
        left: 41.5%;
    }

    .representetionContainer10a {
        left: 40.5%;
    }

    .representetionContainer11 {
        left: 42.5%;
    }
    .representetionContainer12 {
        left: 60%;
    }

    .representetionContainer13 {
        left: 66%;
    }
    .representetionContainer14 {
        left: 66%;
    }
    .representetionContainer4 {
        left: 33.5%;
    }

    .representetionContainer5 {
        left: 35.3%;
    }

    .representetionContainer6 {
        left: 35.5%;
    }

}

@media only screen and (max-width: 700px) {


    .rigthBlockInner {
        flex-direction: column;
        justify-content: space-between;
    }
    .rigthBlockInner > div {
        margin-top: 20px;
    }
    iframe{
        margin-right: 0;
    }
    .lines{
        padding-top:210px ;
    }
    .jspadding{
        padding-top: 280px;
    }
    header {
        height: 650px;
    }

    .description {
        width: 95%;
        font-size: 0.65em;
    }
    .productImage {
        margin-top: 50px;
    }
    .description p {
        font-size: 0.8em;
        margin: 10px 0;
        line-height: 110%;
    }
    .more {
        height: 30px;
        width: 100px;
        font-size: 16px;
    }
}


@media only screen and (max-width: 580px) {

    .productContainer {
        height: 600px;
    }
    .callOrBuy {
        display: none;
    }
    .representetionContainer {
        left: 15%;
    }

    .representetionContainer2 {
        left: 19%;
    }
    .representetionContainer3 {
        left: 16%;
    }

    .representetionContainer7 {
        left: 34%;
    }
    .representetionContainer8 {
        left: 40%;
    }

    .representetionContainer9 {
        left: 41%;
    }

    .representetionContainer10 {
        left: 40%;
    }

    .representetionContainer10a {
        left: 39%;
    }

    .representetionContainer11 {
        left: 41%;
    }
    .representetionContainer12 {
        left: 59%;
    }

    .representetionContainer13 {
        left: 65%;
    }
    .representetionContainer14 {
        left: 65%;
    }
    .representetionContainer4 {
        left: 32%;
    }

    .representetionContainer5 {
        left: 34%;
    }

    .representetionContainer6 {
        left: 34%;
    }

    .innerCEILEO,
    .outherCEILEO {
        font-size: 80px;
    }
    .innerCEILEO {
        right: calc(0% - 140px);
        top: -34px;
    }
    .outherCEILEO {
        top: -34px;
        left: calc(0% - 221px);
    }
}


@media only screen and (max-width: 500px) {

    .brands ul li {
        width: 50px;
        height: 50px;
    }
    .more {
        width: 120px;
    }

    .representetionContainer {
        left: 13.5%;
    }

    .representetionContainer2 {
        left: 17.5%;
    }
    .representetionContainer3 {
        left: 15.5%;
    }

    .representetionContainer7 {
        left: 32.5%;
    }
    .representetionContainer8 {
        left: 38.5%;
    }

    .representetionContainer9 {
        left: 39.5%;
    }

    .representetionContainer10 {
        left: 39.5%;
    }

    .representetionContainer10a {
        left: 37.5%;
    }

    .representetionContainer11 {
        left: 39.5%;
    }
    .representetionContainer12 {
        left: 57.5%;
    }

    .representetionContainer13 {
        left: 63.5%;
    }
    .representetionContainer14 {
        left: 63.5%;
    }
    .representetionContainer4 {
        left: 30.5%;
    }

    .representetionContainer5 {
        left: 32.5%;
    }

    .representetionContainer6 {
        left: 32.5%;
    }
}


@media only screen and (max-width: 450px) {
    .brands ul li {
        width: 35px;
        height: 35px;
    }
    iframe {
        width: 300px;
    }
    .leftLine{
        width: 15%;
    }
    .representetionContainer {
        left: 12.5%;
    }

    .representetionContainer2 {
        left: 16.5%;
    }
    .representetionContainer3 {
        left: 14.5%;
    }

    .representetionContainer7 {
        left: 31.5%;
    }
    .representetionContainer8 {
        left: 37.5%;
    }

    .representetionContainer9 {
        left: 38.5%;
    }

    .representetionContainer10 {
        left: 38.5%;
    }

    .representetionContainer10a {
        left: 36.5%;
    }

    .representetionContainer11 {
        left: 38.5%;
    }
    .representetionContainer12 {
        left: 56.5%;
    }

    .representetionContainer13 {
        left: 62.5%;
    }
    .representetionContainer14 {
        left: 62.5%;
    }
    .representetionContainer4 {
        left: 29.5%;
    }

    .representetionContainer5 {
        left: 31.5%;
    }

    .representetionContainer6 {
        left: 31.5%;
    }

}

@media only screen and (max-width: 410px) {

     .representetionContainer {
        left: 12.5%;
    }

    .representetionContainer2 {
        left: 16.5%;
    }
    .representetionContainer3 {
        left: 14.5%;
    }

    .representetionContainer4 {
        left: 28.2%;
    }

    .representetionContainer5 {
        left: 30%;
    }

    .representetionContainer6 {
        left: 30%;
    }

    .representetionContainer7 {
        left: 31.5%;
    }
    .representetionContainer8 {
        left: 37.5%;
    }

    .representetionContainer9 {
        left: 36.5%;
    }

    .representetionContainer10 {
        left: 37%;
    }

    .representetionContainer10a {
        left: 35.5%;
    }

    .representetionContainer11 {
        left: 37.5%;
    }
    .representetionContainer12 {
        left: 55.5%;
    }

    .representetionContainer13 {
        left: 62.5%;
    }
    .representetionContainer14 {
        left: 62.5%;
    }
    .representetionContainer4 {
        left: 29.5%;
    }

    .representetionContainer5 {
        left: 31.5%;
    }

    .representetionContainer6 {
        left: 31.5%;
    }
}
